 <%- include("partials/header"); -%>



<header>
  <div class="img-container">
    <img src="/images/IMG_20230718_180457_563.jpg" alt="" />
  </div>
  <div class="heading">
    <h1>Profile services</h1>
    <h3>By Jeremiah Hunt</h3>
    <a href="/imagesAuth">View Images</a>
  </div>
</header>

<%- include("partials/footer"); -%>
