<%- include("partials/header"); -%>

<ul class="pictures">
    <li >
        <img src="/images/IMG_20230718_180457_563.jpg" alt="">
        <h4>Lonely boy</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
    </li>
    <li >
        <img src="/images/IMG_20230718_180457_563.jpg" alt="">
        <h4>Lonely boy</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
    </li>
    <li >
        <img src="/images/IMG_20230718_180457_563.jpg" alt="">
        <h4>Lonely boy</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
    </li>
    <li >
        <img src="/images/IMG_20230718_180457_563.jpg" alt="">
        <h4>Lonely boy</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
    </li>
    <li >
        <img src="/images/IMG_20230718_180457_563.jpg" alt="">
        <h4>Lonely boy</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
    </li>
    <li >
        <img src="/images/IMG_20230718_180457_563.jpg" alt="">
        <h4>Lonely boy</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
    </li>
    
   </ul>

   <%- include("partials/footer"); -%>
